body { 
	font-family: "Noto Sans TC";
	padding-top: 65px; 
}

a.button{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #6699ff;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#6699ff;
text-align:center;
transition: all 0.2s;
width: 96%
}
a.button:hover{
color:#000000;
background-color:#6699ff;
}
.center {
	margin-left:50%; 
    margin-right:50%;
}
@media all and (max-width:30em){
a.button{
display:block;
margin:0.4em auto;
 }
}
